/*order订单页面的css*/

body,div,dl,dt,dd,ul,ol,li,form,input,textarea,select,p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0
}

body,button,input,select,textarea {
	color: #333;
	word-wrap: break-word;
	font: 12px "Microsoft YaHei","微软雅黑",Tahoma,Arial,"宋体";
	font-family: "Microsoft YaHei", "tahoma,arial","Hiragino Sans GB",宋体,sans-serif;
	word-break: break-all;
}

ul,ol {
    list-style: none
}
a,label,button {
    outline: 0;
    hide-focus: expression(this.hideFocus=true);
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    text-decoration: none;
    color: #b81c2b
}

element.style{
    margin-bottom: 20px;
    height: auto;
}

.findStore {
    border: #eee solid 1px;
    border-top: #f8faf9 solid 1px;
    clear: both
}

.findStore .findStore_List {
    padding: 3px 0 0
}

.findStore .findStore_List ul li {
    border-bottom: #eee solid 1px;
    padding: 9px 0 0 30px;
    overflow: hidden
}

.findStore .findStore_List ul li .address {
    float: left;
    width: 502px
}

.findStore .findStore_List ul li .address h3 {
    font-size: 14px;
    line-height: 24px;
    color: #636363
}

.findStore .findStore_List ul li .address p {
    line-height: 22px;
    color: #666
}

.findStore .findStore_List ul li .fa_mob {
    float: left;
    width: 214px;
    height: 115px;
    position: relative;
    background: url(/images/input_mob.jpg) no-repeat
}

.findStore .findStore_List ul li .fa_mob .input_Text {
    width: 119px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 29px;
    top: 60px;
    border: 0;
    background: 0
}

.findStore .findStore_List ul li .fa_mob .btn_sub {
    position: absolute;
    width: 33px;
    height: 23px;
    border: 0;
    background: 0;
    text-indent: -9999px;
    cursor: pointer;
    right: 27px;
    top: 60px
}

