/*晒单评论*/

* {
    margin:0;
    padding:0;
    font-family:"Microsoft YaHei";
}

.main{
    width:1190px;
    margin:0 auto;
    overflow:hidden;
    height:auto;
    text-align:center;
}

ul, li {
    list-style-type:none;
}

a {
    text-decoration:none;
}
a:hover {
    color:#da1e3a !important;
}

p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

div{
    display: block;
}

textarea{
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
}

.findStore {
    margin-top:25px;
    position:relative;
    overflow:inherit !important;
    _zoom:1
}
.findStore .left {
    float:left;
    width:982px;
    overflow:hidden;
    border:1px solid #ddd;
    padding:25px 50px;
    margin-bottom:25px;
    position:relative;
}
.findStore .left .goodsComment {
    height:85px;
    width:940px;
    border-bottom:1px solid #f8f8f8;
}
.findStore .left .detail {
    font-size:14px;
    color:#666;
    line-height:30px;
    text-align:left;
    margin:30px 0;
}
.findStore .left .detailImg {
    width:100%;
    height:100%;
}
.findStore .left .goodsComment div:first-child  {
    float:left;
    width:170px;
    height:85px;
    background-color:#f8f8f8;
    text-align:left;
}
.findStore .left .goodsComment div:first-child  .headImg {
    width:72px;
    height:72px;
    margin:6px;
    margin-right:10px;
    float:left;
}
.findStore .left .goodsComment div:first-child  p:nth-child(2) {
    float:left;
    width:80px;
    height:20px;
    margin-top:5px;
    line-height:20px;
    overflow:hidden;
    font-size:12px;
    color:#222;
}
.findStore .left .goodsComment div:first-child  p:nth-child(3) {
    color:#fff;
    float:left;
    text-align:left;
    font-size:10px;
    padding:2px;
    height:11px;
    line-height:11px;

    background-color:#ff8989
}
.findStore .left .goodsComment img:nth-child(2) {
    height:75px;
    width:75px;
    display:block;
    float:left;
    margin:5px 10px;
}
.findStore .left .goodsComment>p {
    float:right;
    width:670px;
}
.findStore .left .goodsComment > p:nth-child(3) {
    font-size:14px;
    line-height:30px;
    color:#222;
    margin-top:5px;
}
.findStore .left .goodsComment > p:nth-child(4) {
    line-height:20px;
}
.findStore .left .goodsComment > p:nth-child(5) {
    line-height:20px;
}
.findStore .left .goodsComment > p:nth-child(3) span:first-child {
    float:left;
}
.findStore .left .goodsComment > p:nth-child(3) span:last-child {
    float:right;
}

.findStore .left .goodsComment > p:nth-child(4) span:nth-child(1){
    font-size:14px;
    color:#da1e3a;
    float:left;
}
.findStore .left .goodsComment > p:nth-child(4) del:nth-child(2){
    font-size:14px;
    color:#aaaaaa;
    float:left;
}
.findStore .left .goodsComment > p:nth-child(4) span:nth-child(3){
    font-size:12px;
    color:#666;
    float:right;
}

.findStore .left .goodsComment > p:nth-child(5) span:nth-child(1){
    font-size:12px;
    color:#222;
    float:left;
}
.findStore .left .goodsComment > p:nth-child(5) span:nth-child(2){
    font-size:12px;
    color:#aaa;
    float:right;
}

.findStore .storeTop {
    position:absolute;
    right:0;
    top:0;
    width:198px;
    height: 280px;
    border:1px solid  #ddd;
}
.findStore .storeTop p:nth-child(1) img {
    width:175px;
    height:120px;
    display:block;
    margin:10px auto 0  auto;

}
.findStore .storeTop p:nth-child(2) {
    font-size:14px;
    color:#da1e3a;
    text-align:left;
    margin-top:10px;
    margin-left:10px;
}
.findStore .storeTop p:nth-child(3),
.findStore .storeTop p:nth-child(4),
.findStore .storeTop p:nth-child(5) {
    font-size:12px;
    color:#383838;
    margin-top:6px;
    text-align:left;
    margin-left:10px;
}
.findStore .storeTop p:nth-child(5) {
    margin-bottom:40px;
}

.findStore .right {
    position:absolute;
    right:0;
    top:290px;
    width:198px;
    height:250px;
    border:1px solid #ddd;
    background-color:#383838;
    color:#fff;
}
.findStore .right p:nth-child(1) {
    font-size:18px;
    height:55px;
    line-height:80px;
}
.findStore .right p:nth-child(2) {
    font-size:14px;
    height:20px;
    line-height:20px;
}
.findStore .right p:nth-child(3) {
    height:60px;
    line-height:60px;
    font-size:18px;
    font-weight:bold;
}
.findStore .right p:nth-child(4) button {
    font-size:14px;
    width:90px;
    padding: 5px 0;
    margin:0 auto;
    background-color:#da1e3a;
    text-align:center;
    border:none;
    color:#fff;
    cursor:pointer;
}
.findStore .right p:nth-child(5) {
    font-size:14px;
    line-height:35px;
}

.comTitle {
    height:30px;
    width:880px;
    margin-top: 15px;
    border-bottom:1px solid #f7f7f7;
}
.comTitle  span,
.comTitle a,
.comTitle option {
    font-size:14px;
}
.comTitle > span {
    float:left;
}
.comTitle > select {
    float:right
}

.star li {
    width:160px;
    float:left;
    text-align:left;
}

.star li span {
    padding:0 10px;
    font-size:14px;
    color:#222;
}

.upload {
    margin-bottom :20px;
    text-align:left;
    margin-top:15px;
    position:relative;
}
.upload img {
    height:50px;
    width:50px;
    margin-right:15px;
}
.upload input[type=file]
,.upload input[type=button]{
    position:absolute;
    left:150px;
    top:12px;
}
.upload input[type=file] {
    opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -webkit-opacity:0;
    z-index:2;
}
.upload input[type=button] {
    z-index:1;
    background-color:#fff;
    border:1px solid #ff662c;
    color:#ff662c;
    font-size:14px;
    padding:3px 10px;
    font-weight:bold;
}

.findShopTitle {
    height:20px;
    line-height:20px;
    border-left:2px solid #da1e3a;
    text-indent:10px;
    text-align:left;
    font-size:18px;
    color:#101010;
    margin-top:20px;
    margin-bottom:20px;
}

.tiyan {
    font-size:18px;
    font-weight:bold;
    color:#222;
    text-align:left;
    height:55px;
    line-height:55px;
}

.area {
    height:178px;
    margin-top:20px;
    margin-bottom:30px;
    border:2px solid #eeeeee;
    resize:none;
    width:878px
}
.imgMsg {
    font-size:14px;
    color:#222;
    text-align:left
}

.btn-post {
    bottom: 55px;
    right: 50px;
    position:absolute;
    width:185px;
    height:60px;
    line-height:60px;
    color:#fff;
    font-size:24px;
    background-color:#ff662c;
    border:none;
    cursor:pointer;
}