.pignose-layerslider {
	display: block;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.pignose-layerslider,
.pignose-layerslider * {
	box-sizing: content-box;
	-o-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.pignose-layerslider .slide-visual {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}

.pignose-layerslider .slide-visual .slide_tint {
	position: absolute;
	top: 0;
	z-index: 50;
	width: 2000px;
	height: 100%;
	background-color: #ffffff;
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter: alpha(opacity=60);
}

.pignose-layerslider .slide-visual .slide_tint.left {
	right: 1000px;
}

.pignose-layerslider .slide-visual .slide_tint.right {
	left: 1000px;
}

.pignose-layerslider .slide-visual .slide-group {
	margin: 0;
	padding: 0;
	list-style: none;
}

